* {
  margin: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(to top left, #d4c4ab 0%, #bf2eac 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.35);
}

.time,
.date {
  font-size: 40px;
  font-family: "Goudy Bookletter 1911", sans-serif;
}
